@model Plantech.DTOs.HortalicaDTO


@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
<h2>@ViewData["Title"]</h2><br>

<div class="bg-white">
<h3 class="bg-white">Você realmente deseja deletar esta hortaliça?</h3>
    <hr />
    <dl class="row bg-white" style="height: 100%; overflow-y: auto; ">
        <div class="col-8">
            <dt class="">
                Nome
            </dt>
            <dd class="mb-4">
                @Model.Nome
            </dd>
            <dt class="">
                Descrição
            </dt>
            <dd class="mb-4">
                @Model.Descricao
            </dd>
            <dt class="">
                Observações
            </dt>
            <dd class="">
                @Model.Observacoes
            </dd>
        </div>

        <dd class="col-4">
            <img src="~/images/@Model.CaminhoImagem" alt="@Model.Nome" class="imagemHotalicaEdit rounded-3" />
        </dd>
    </dl>


    <form asp-action="Delete" style="margin-top: 20px;">
        <input type="hidden" asp-for="Id" />
        <div class="modal-footer">
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </div>

    </form>
</div>
