@model IEnumerable<Plantech.DTOs.HortalicaDTO>


@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
@if (User.IsInRole("Agricultor") || User.IsInRole("Administrador"))
{
    <h2>Lista de Hortaliças</h2>
    <br>

    <form method="get" asp-action="Index">
        <div class="form-row" style="display: flex;">
            <div class="col-md-6">
                <input type="text" name="filtro" class="form-control" placeholder="Filtrar por nome ou descrição"
                    value="@ViewData["FiltroAtual"]" />
            </div>
            <div class="" style="display: flex;margin-bottom: 20px;">
                <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Filtar</button>
                <a asp-action="ExportarExcel" asp-route-filtro="@ViewData["FiltroAtual"]" class="btn btn-success"
                    style="margin-left: 15px;">Exportar para Excel</a>
                <a asp-action="RelatorioImpressao" asp-route-filtro="@ViewData["FiltroAtual"]" target="_blank"
                    class="btn btn-success" style="margin-left: 15px;">Visualizar Relatório</a>
            </div>
        </div>
    </form>

    <div class="card-index">
        <div style="max-height: 350px; overflow-y: auto;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Observações</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Descricao</td>
                            <td style="width: 550px;">@item.Observacoes</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-end" style="margin-right: 15px;">
        <br>
        <a asp-action="Create" class="btn btn-primary">Adicionar Hortaliça</a><br><br>
    </div>

    <br>
    <div>
        <a asp-controller="Agricultor" asp-action="Index" class="btn btn-primary">Voltar a Home</a>
    </div>
}

@if (User.IsInRole("Vendedor"))
{
    <br>
    <h2>Lista de Hortaliças</h2>
    <br>
    <div class="card-index">
        <div style="max-height: 350px; overflow-y: auto;">
            <table class="table table-striped table-hover">
                <br>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Observações</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Descricao</td>
                            <td style="width: 550px;">@item.Observacoes</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <div>
        <a asp-controller="Vendedor" asp-action="Index" class="btn btn-primary">Voltar a Home</a>
    </div>
}
