@model IEnumerable<Plantech.DTOs.LotesInsumoDTO>

@{
    ViewData["Title"] = "Index";
}


<br>
<h1>Lotes de Insumos</h1>


@if (User.IsInRole("Administrador") || User.IsInRole("Comprador"))
{
    <div class="card-index">
        <div style="max-height: 350px; overflow-y: auto;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                        <th>
                            Preço unitario
                        </th>
                        <th>
                            Data de Entrada
                        </th>
                        <th>
                            Data de Validade
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                           Insumo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoUnitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataEntrada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataValidade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Insumo.Nome)
                            </td>
                            <td>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                                } 
                            <a asp-action="Details" asp-route-id="@item.Id " class="btn btn-primary">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (User.IsInRole("Comprador")){
<br>
<div>
    <a asp-controller="Comprador" asp-action="Index" class="btn btn-primary">Voltar a Home</a>
</div>
}
@if (User.IsInRole("Administrador")){
    <br>
<div>
    <a asp-controller="Administrador" asp-action="Pendencias" class="btn btn-primary">Voltar a Home</a>
</div>
}
}


@if (User.IsInRole("Agricultor"))
{
<div class="card-index">
    <div style="max-height: 350px; overflow-y: auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                        <th>
                            Preço unitario
                        </th>
                        <th>
                            Data de Entrada
                        </th>
                        <th>
                            Data de Validade
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                           Insumo
                        </th>
                        <th></th>
                    </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoUnitario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataEntrada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataValidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Insumo.Nome)
                        </td>
                         <td>
                            <a asp-action="Details" asp-route-id="@item.Id "class="btn btn-primary">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br>
<div>
    <a asp-controller="Agricultor" asp-action="Index" class="btn btn-primary">Voltar a Home</a>
</div>
}