@model Plantech.ViewModels.AdicionarInsumoViewModel
@using System.Globalization

@if (User.IsInRole("Comprador") || User.IsInRole("Administrador"))
{
    <br>
    <br>
    <h2>Adicionar Insumos à Ordem de Compra</h2>
    <br>
    <form asp-action="AdicionarInsumo" asp-route-id="@Model.OrdemCompraId" method="post" id="adicionarInsumoForm">
        <input type="hidden" asp-for="OrdemCompraId" />
        <div class="card-index">
            <div style="max-height: 350px; overflow-y: auto;">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Preço Unitário</th>
                            <th>Selecionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < Model.InsumosDisponiveis.Count; index++)
                        {
                            var insumo = Model.InsumosDisponiveis[index];
                            <tr>
                                <td>@insumo.Nome</td>
                                <td>@insumo.Descricao</td>
                                <td class="text-center">
                                    <input type="number" name="DadosInsumos[@index].QtdInsumos" min="1" value="1" required
                                        class="form-control form-control-sm" />
                                </td>
                                <td class="text-center">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-text">R$</span>
                                        <!-- Exibindo o preço com vírgula (cultura pt-BR) -->
                                        <input type="text" name="DadosInsumos[@index].PrecoUnitario"
                                            value="@insumo.PrecoUnitario.ToString("F2", new CultureInfo("pt-BR")).Replace(".", ",")" required
                                            class="form-control" />
                                    </div>
                                </td>

                                <td>
                                    <input type="checkbox" name="DadosInsumos[@index].Selecionado" value="true" />
                                    <input type="hidden" name="DadosInsumos[@index].InsumoId" value="@insumo.Id" />
                                    <label>Selecionar</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-end gap-3">
            <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-success">Adicionar Insumos</button>
        </div>
    </form>
}
else
{
    <h4>Acesso Negado.</h4>
}
