@model IEnumerable<Plantech.DTOs.OrdensCompraDTO>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Comprador") || User.IsInRole("Administrador"))
{
<br>
<h2>Ordems de Compra</h2>

<p>
    <a asp-action="NovaCompra" class="btn btn-primary">Nova Compra</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Id)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-primary">Detalhes</a> 
                @* @if( User.IsInRole("Administrador")){ *@
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger">Delete</a>
                @* } *@
            
            </td>
        </tr>
}
    </tbody>
</table>
}