@model IEnumerable<Plantech.ViewModels.VendaViewModel>

@{
    ViewData["Title"] = "Index";
}
<br><br>
<h1>Vendas</h1>
<br>
<div class="card-index">
    <div style="max-height: 350px; overflow-y: auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalVendas)
                    </th>
                    @* <th>
                    @Html.DisplayNameFor(model => model.QuantidadeProdutos)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente.Cnpj)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Funcionario.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalVendas)
                        </td>
                        @* <td>
                    @Html.DisplayFor(modelItem => item.QuantidadeProdutos)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Cnpj)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> *@
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                            @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<br>
<p class="text-end">
    <a asp-action="NovaVenda" class="btn btn-primary">Nova Venda</a>
</p>