@model Plantech.ViewModels.RelatorioViewModel
@{
    ViewData["Title"] = "Relatorio";
}

@section Styles {
    <link rel="stylesheet" href="~/css/detalhes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
<br><br>
<h1>@ViewData["Title"]</h1>
<div class="card-index">
    <div style="max-height: 350px; overflow-y: auto;">
        <ul class="list-group p-3" style="font-size: 22px;">
            <li class="list-group-item">Total de Vendas: @Model.TotalVenda</li>
            <li class="list-group-item">Total de Compras: @Model.TotalCompra</li>
            <li class="list-group-item">Gastos: @Model.Gastos.ToString("C")</li>
            <li class="list-group-item">Faturamento: @Model.Faturamento.ToString("C")</li>
            <li class="list-group-item">Total de Colheitas: @Model.TotalColheita</li>
            <li class="list-group-item">Total de Plantios Ativos: @Model.TotalPlantioAtivo</li>
        </ul>
    </div>
</div><br>
<div>
    <a asp-action="Index" class="btn btn-secondary" style=" width: 150px;">Voltar</a>
</div>